@use '../variables' as vars;

.character-item {
    width: 350px;
    height: 270px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: vars.$border-radius-16;
    .character-item-gradient {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.582));
        border-radius: vars.$border-radius-16;
        .character-item-name {
            position: relative;
            z-index: 3;
            font-size: 36px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            user-select: none;
            -moz-user-select: none;
        }
    }
}